<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-end">
    <button class="btn btn-outline-success m-2" type="button"><%= link_to "New list", new_list_path %></button>
  </form>
</nav>
<div class="banner">
<h1>Save any kind of movies</h1>
<p>Organise your brain and save movies in nicely ordered lists!</p>
</div>
<h2>Your Lists</h2>

<ul>
  <div class="cards-list">
    <% @lists.each do |list| %>
    <div class="card-list">
      <li><%= link_to list.name, list_path(list) %></li>
    </div>
    <% end %>
  </div>
</ul>
